<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="de.memepool.global">
    <dependencies>
        <module name="javaee.api"/>
    </dependencies>
 
    <resources>
        <resource-root path="kafka-clients-1.1.0.jar"/>
        <resource-root path="kafka-streams-1.1.0.jar"/>
    </resources>
</module>