<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="de.memepool.global">
    <dependencies>
        <module name="javaee.api"/>
		<module name="javax.ws.rs.api"/>
		<module name="org.slf4j"/>
    </dependencies>
 
    <resources>
		<resource-root path="connect-api-2.0.0.jar"/>
		<resource-root path="connect-json-2.0.0.jar"/>
		<resource-root path="jackson-annotations-2.9.0.jar"/>
		<resource-root path="jackson-core-2.9.6.jar"/>
		<resource-root path="jackson-databind-2.9.6.jar"/>
		<resource-root path="kafka-clients-2.0.0.jar"/>
		<resource-root path="kafka-streams-2.0.0.jar"/>
		<resource-root path="lz4-java-1.4.1.jar"/>
		<resource-root path="rocksdbjni-5.7.3.jar"/>
		<resource-root path="snappy-java-1.1.7.1.jar"/>
    </resources>
</module>

